#buttons-class{
    margin-left: 45%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-gutters{
    margin-top: 350px;
}
.Mydata{
    margin-top: 350px;
    position:fixed;
    bottom:5px; 
}